.cart-dropdown {
  position: absolute;
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid black;
  background-color: white;
  top: 120px;
  right: 40px;
  z-index: 5;

  .cart-items {
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}

.emply-msg {
  font-size: 50px;
  margin: 50px auto;
}
