body {
  margin: 20px;
  font-family: 'Bigelow Rules', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 25px 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --font-one: 12px;
  --font-two: 28px;
  --font-three: 30px;
}
